<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Plannr</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/themes/bootstrap")
    <!--@Styles.Render("~/Content/themes/base/css")-->

</head>
<body>
   
        @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/jqueryui")

    <div id="header">
			<h1><a href="./dashboard.html">Unicorn Admin</a></h1>		
		</div>

		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">AnneLaurent</span></a></li>

                <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">

			<ul>
				<li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>

				<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Demandes de réservations</span></a></li>
				<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Administration</span></a></li>
                <li><a href="interface.html"><i class="icon icon-wrench"></i> <span>Mon compte</span></a></li>
			</ul>
		
		</div>
		

		<div id="content">
           
            @RenderBody()

         </div>
    





    @RenderSection("scripts", required: false)
</body>
</html>
