@model Plannr.Models.LocalPasswordModel

<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>	
                              							
								</span>
								<h5>Formulaire de modification de mot de passe</h5>
		
							</div>
							<div class="widget-content nopadding">
								@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "EditPersoData" })){
                                @Html.AntiForgeryToken()
                                

                                    <div class="control-group">
                                        <label class="control-label">@Html.LabelFor(m => m.OldPassword)</label>
                                        <div class="controls">
                                           
                                             @Html.PasswordFor(m => m.OldPassword)
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"> @Html.LabelFor(m => m.NewPassword)</label>
                                        <div class="controls">
                                                           
                                        @Html.PasswordFor(m => m.NewPassword)
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">  @Html.LabelFor(m => m.ConfirmPassword)</label>
                                        <div class="controls">
                                             
                @Html.PasswordFor(m => m.ConfirmPassword)
                                        </div>
                                    </div>
                   
                                    <div class="form-actions">
                                        <input type="submit" value="Confirmer le nouveau mot de passe" class="btn btn-primary">
                                    </div>
                                    }
                                  @Html.ValidationSummary()	
							</div>
						</div>			
					</div>
				</div>


    