@model Plannr.Models.Reservation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reservation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <input id="Enseignement.Id" name="Enseignement.Id" type="hidden" value="@ViewBag.demandeAssociee.Id" />
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
           <div class="control-group">
            <label class="control-label" for="">@Html.LabelFor(model => model.Salle)</label>
            <div class="controls">
                @Html.DropDownListFor(model => model.Salle.Id, new SelectList(ViewBag.salles, "Id", "Libelle"))
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for="">@Html.LabelFor(model => model.Creneau)</label>
            <div class="controls">
                @Html.DropDownListFor(model => model.Creneau.Id, new SelectList(ViewBag.creneaux, "Id", "HeureConcat"))
            </div>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>


    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
