@{
    ViewBag.Title = "Responsable";
}

 <div class="row">

        <div class="span12"><h1>Votre panel de gestion</h1>
</div>
    </div>
    <div class="row">
        <div class="alert alert-block alert-info">
            <ul style="list-style-type:none;">
       

                @Html.Partial("_NotifsDemandesUnseen")

                <li>
                    <span class="label label-warning">Demandes</span> Vous avez 4 demandes de réservations en cours. <a
                        href="#">Consulter les demandes</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="text-align:center; margin-top:20px;">

        <a href="#" class="btn btn-large btn-superlarge"><i class="icon-book"></i> Gestion des demandes (4)</a>
        <a href="@Url.Action("Index","Book")" class="btn btn-large btn-superlarge"><i class="icon-list"></i> Mes réservations</a>
        <a href="#" class="btn btn-large btn-superlarge"><i class="icon-briefcase"></i> Mon emploi du temps</a>
        <a href="#" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Mon compte</a>
        <a href="@Url.Action("Index","AddEnseignant")" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Ajouter un enseignant</a>
        <a href="@Url.Action("Index","AddBatiment")" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Ajouter un Batiment</a>
        <a href="@Url.Action("Index","AddSalle")" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Ajouter une Salle</a>
        <a href="@Url.Action("Index","Administration")" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Administration</a>

    </div>

<div id="dynamic" class="row">

</div>

