@model Plannr.Models.Matiere

@{
    ViewBag.Title = "_DetailsMatiere";
}

<h2>Details</h2>

<fieldset>
    <legend>Matière</legend>
    <table class="table table-striped table-condensed">
  <thead>
              <tr style="background-color:#00A7C8; color:white">
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Libelle)</th>
                 <th>@Html.DisplayNameFor(model => model.Ue)</th>
                
             
                
              </tr>
       <tr>
                <th>@Html.DisplayFor(model => model.Id)</th>
                <th>@Html.DisplayFor(model => model.Libelle)</th>
                <th>@Html.DisplayFor(model => model.Ue.Libelle)</th>
     
                
              </tr>
            </thead>

</table>
   
</fieldset>
<p>
     <a href="@Url.Action("EditMatiere", "Administration", new { id=Model.Id })" class="btn btn-large btn-danger" >Edit</a> |
    @Html.ActionLink("Back to List", "IndexMatiere")
</p>
