@model Plannr.Models.Salle

@{
    ViewBag.Title = "_EditSalle";
}

<div id ="content-header">
<h1>Editer</h1>
</div>
<div id="breadcrumb">
				<a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
				<a href="#" class="tip-bottom"> Administration</a>
                <a href="#" class="current">Gestion Salles</a>
                <a href="#" class="current">Edition Salle</a>
			</div>

@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true)
    <div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
        <div class="widget-box">
            <div class="widget-content nopadding">
  <table class="table table-bordered">
    <tr >
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batiment.Nom)
        </th>
  
    </tr>

    <tr >
  
        <th>
            @Html.EditorFor(model => model.Libelle)
            @Html.ValidationMessageFor(model => model.Libelle)
          </th>
         <th>
            @Html.DisplayFor(model => model.Batiment.Nom)
          </th>
    </tr>
</table>
 
    </div>
    </div>
        </div>
  
      </div>
    </div>
    <center>
         <p >
             <input type="submit" value="Save" class="btn btn-large btn-primary"/>
            <a href="@Url.Action("IndexSalle", "Administration")" class="btn btn-large" id="cancelEdit">Annuler</a>
        </p>
        </center>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
