@model Plannr.Models.Enseignant

@{
    ViewBag.Title = "EditEnseignant";
}

<div id ="content-header">
<h1>Editer</h1>
</div>
<div id="breadcrumb">
				<a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
				<a href="#" class="tip-bottom"> Administration</a>
                <a href="#" class="current">Gestion Enseignants</a>
                <a href="#" class="current">Edition Enseignant</a>
			</div>


    @using (Html.BeginForm())
    { 
    @Html.ValidationSummary(true)

        <div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
        <div class="widget-box">
            <div class="widget-content nopadding">
  <table class="table table-bordered">
    <tr >
            <th> @Html.DisplayNameFor(model => model.UserName) </th>
            <th> @Html.DisplayNameFor(model => model.Name)</th>
            <th> @Html.DisplayNameFor(model => model.FirstName)</th>
            <th> @Html.DisplayNameFor(model => model.Tel)</th>
       
  
    </tr>

    <tr >
        <th> @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)</th>
                <th>@Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)</th>
                <th>@Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)</th>
                <th>@Html.EditorFor(model => model.Tel)
            @Html.ValidationMessageFor(model => model.Tel)</th>

    </tr>
</table>
        </div>
    </div>
    </div>
        </div>

            </div>
        <p style="margin-left:20px">
            <input type="submit" value="Save" class="btn btn-large btn-primary"/>
            <a href="@Url.Action("IndexEnseignant", "Administration")" class="btn btn-large" id="cancelEdit">Annuler</a>
        </p>

    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
