@model IEnumerable<Plannr.Models.Ue>

@{
    ViewBag.Title = "IndexResponsable";
}

<div id="choixContainer">
<div id ="content-header">
<h1>Gestion des responsables d'Ue</h1>
</div>
<div id="breadcrumb">
				<a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
				<a href="#" class="tip-bottom"> Administration</a>
                <a href="#" class="current">Gestion ResponsablesUe</a>
			</div>



<div class="container-fluid">
    <div class="alert">
    <button class="close" data-dismiss="alert">×</button>
    Il y a actuellement @ViewBag.count responsables(s) recensé(s) dans la base de données.
</div>
    <div class="row-fluid">
        <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
                            <h5>Liste des responsables</h5>
                        </div>
            <div class="widget-content nopadding">
  <table class="table table-bordered">
    <tr >
        <th>@Html.DisplayNameFor(model => model.ResponsableUe.UserName)</th>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
         </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResponsableUe.UserName)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libelle)
            </td>
       
        <td ><center>
            <a href="@Url.Action("DetailsResponsable", "Administration", new { id=item.Id })"  class ="btn btn-success"><i class="icon-eye-open"></i>Détails</a>      
            </center>
        </td>
        <td>
            <center>
            <a href="@Url.Action("EditResponsable", "Administration", new { id=item.Id })"   class="btn btn-primary"><i class="icon-pencil icon-white"></i>Editer</a>
            </center>
        </td>
    </tr>
}

</table>
        </div>
        

        

    </div>
    </div>
        </div>
</div>

    </div>

<div id="editContainer" style="display: none;">
</div>

<script type="text/javascript">

    var editLoaded = false;

    function showEdit() {
        $('#choixContainer').fadeOut("fast", function () {
            $('#editContainer').fadeIn()
            
        })

    }

    function showIndex() {
        $('#editContainer').fadeOut("fast", function () {
            $('#choixContainer').fadeIn()
            editLoaded = false;
        })

    }

    $('#cancelEdit').live('click', function (e) {

        showIndex()

        e.preventDefault()
        return false
    })

    $('#addResp').live('click', function (e) {
        if (!editLoaded) {
            $.get("@Url.Action("AjoutResp","Administration")", function (data) {

                $('#editContainer').html(data)
                showEdit()
                editLoaded = true
            })

        } else {
            showEdit()
        }
         e.preventDefault()
         e.stopPropagation()
         return false
    })

     </script>
