@model Plannr.Models.Batiment

@{
    ViewBag.Title = "CreateBatiment";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Batiment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <p>
            <input class="btn btn-large btn-danger" type="submit" value="Create"  />
             <a href="@Url.Action("Index", "Administration")" class="btn btn-large" id="cancelEdit">Annuler</a>
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
