@model Plannr.Models.Salle

@{
    ViewBag.Title = "CreateSalle";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Salle</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Libelle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Libelle)
            @Html.ValidationMessageFor(model => model.Libelle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Batiment)
        </div>

         <div class="editor-field">
            @Html.DropDownListFor(model => model.Batiment.Id, new SelectList(ViewBag.batiments, "Id", "Nom"))  
           
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Capacite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capacite)
            @Html.ValidationMessageFor(model => model.Capacite)
        </div>
            

        <p>
            <input class="btn btn-large btn-danger" type="submit" value="Create"  />
            <a href="@Url.Action("Index", "Administration")" class="btn btn-large" id="cancelEdit">Annuler</a>
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
